* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

h1 {
    margin-bottom: 1.2em;
    font-weight: lighter;
}

[class^="flex-direction"] {
    border: 2px solid blue;
    display: flex;
    width: 80%;
    padding: 1.5em;
}

.flex-item {
    border: 3px solid black;
    padding: 1.5em;
    background-color: #CCC;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

