fieldset {
    padding: 2em;
    border: 2px solid #CCC;
    max-width: 50ch;

    legend {
        padding: 0 1em;
        font-weight: bold;
    }

    label {
        font-weight: bold;
    }

    input {
        display: block;
        width: 100%;
        padding: 1em;
    }

    .field {
        padding-bottom: 1.5em;
    }
}