h1{
    color: blue;
}

p{
    font-size: 26px;
}

.highlight{
    background: chartreuse;
}

#main-title{
    color: deeppink;
}

#special-paragraph{
    font-style: italic;
}

ul{
    list-style-type: square;
}

li{
    color: darkcyan;
}