section {
    border: 2.75px solid #000;
    padding: 2em;
    position: relative;
}

.item {
    border: 2px solid #333;
    padding: 0.5em;
    width: 5em;
    height: 5em;
}

.relative div:nth-child(2) {
    position: relative;
    left: 5em;
    top: 2em;
    background: lightgreen;
}

.relative-absolute div:nth-child(2) {
    position: absolute;
    background: lightgreen;
    left: 4em;
    top: 4em;
}