@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body {
    background-color: #CCC;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    max-width: 1200px;
}

body > * {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 2.5em;
    border-radius: 0.4em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    position: relative;

    fieldset {
        border: none;

        legend {
            margin-bottom: 2em;
            font-weight: bold;
            font-size: 28px;
        }
    }

    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;

        label {
            font-weight: bold;
            font-size: 18px;
            color: #333;
        }

        input {
            padding: 0.5rem;
            border: none;
            border-bottom: 2px solid #CCC;
            outline: none;

            &:focus {
                border-bottom: 2px solid #000;
            }
        }

        .info {
            font-size: 16px;
            opacity: 0.7;
            font-style: italic;
        }
    }
}

input[type="submit"],
    textarea {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 1em;
        background-color: #DDD;
        border: none;
        border-radius: 0.4em;
        font-weight: bold;
        font-size: 18px;
        outline: none;

        &:focus {
            background-color: #CCC;
        }

        &:focus-visible {
            outline: 2px solid #000;
        }
    }