.description {
    color: aqua;
    font-weight: bolder;
    text-decoration: underline;
    font-style: italic;
}

time {
    color: darkblue;
    font-weight: lighter;
    font-style: oblique;
}

span {
    color: lightcoral;
    font-weight: inherit;
    font-style: unset;
}