@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

body {
    padding: 1em;
}

p {
    margin-bottom: 1em;
}

h1, h2 {
    margin-bottom: 0.5em;
}

pre {
    background-color: #CCC;
    border-radius: 0.3em;
    padding: 0.5em 0.8em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    margin-bottom: 1em;
}

body::before {
    padding: 1em 1.5em;
    margin-bottom: 2em;
    border-radius: 0.3em;
    background: #DDD;
}

@media (hover: none) {
body::before {
display: block;
content: 'The device does NOT support hover';
}
}
  
  @media (hover: hover) {
body::before {
display: block;
content: 'The device does support hover';
}
}   