@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #DDD;
}

.banner {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    border-radius: 0.3em;
    max-width: 1200px;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.15);
}

.banner header {
    margin-top: 1em;
}

.banner header h3 {
    opacity: 0.6;
    /* margin-bottom: 1.5em; */
}

.banner header h2 {
    font-size: 30px;
    margin-bottom: 0.5em;
}

.banner p {
    opacity: 0.6;
    font-size: 16px;
}

.buttons {
    display: flex;
    margin-top: 1.5em;
    gap: 1em;
}

.button {
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background-color: #DDD;
}

.button:nth-child(1) {
    background-color: rgb(76, 2, 137);
    color: #FFF;
}

.aside {
    flex: 1 0 45ch;
    display: block;
    height: 280px;
    background-color: #DDD;
    aspect-ratio: 1;
    margin-left: 2em;
    margin-bottom: 0;
    /* overflow: shidden; */
    /* border-radius: 50%; */
}